<div class="card">
  <div class="card-info {{rarityColor}}">
    <div class="title">
      <h1 class="text large light {{rarityColor}}">{{itemName}}</h1>
    </div>
    <div class="gun-pic">
      <img class="gun" src="/images/guns/{{itemName}} {{skinName}}-{{wear}}.png" alt="" />
    </div>
    <div class="hover-info">
      <h4 class="text large light {{rarityColor}}">{{probabilityPercent}}%<br>Chance</h4>
    </div>
    <div class="extra-info">
      <h4 class="text small light">{{skinName}}</h4>
      <h4 class="text small light">{{wearName}}</h4>
    </div>
  </div>
  <div class="card-tab {{rarityColor}}">

  </div>
</div>
<link rel="stylesheet" href="/css/dist/itemCard.min.css">
