<nav class="navbar">
  <a href="/landing"><img class="navbar-logo" src="/images/x.png" alt="Image failed to load" width="28px"></a>
  <p class="text light medium page-title">{{currentPage}}</p>
  <ul>
    {{#each navbar}}
    {{#if selected}}
    <li><a href="/{{link}}" class="selected navbar-link">{{title}}</a></li>
    {{else}}
    <li><a href="/{{link}}" class="navbar-link">{{title}}</a></li>
    {{/if}}
    {{/each}}
  </ul>
</nav>
